.CarousalIndicator {
  height: 15px !important;
  width: 15px !important;
  border-radius: 100% !important;
}

.CarousalImage {
  height: 90vh !important;
  width: 100%;
}

.CarousalInside {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #608a24;
  opacity: 0.6;
  z-index: 1;
}

.CaptionView {
  display: flex !important;
  position: absolute;
  height: 99vh;
  width: 100%;
  z-index: 2;
  color: white;
  padding: 5rem 0rem;
}

.Caption {
  width: 33rem;
}

.CaptionImage {
  height: 20rem;
  width: 25rem;
}

.Title {
  font-size: 3rem;
}

.Input {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 100px;
  border: 0;
  margin-top: 2rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
  width: 27rem;
}

.ButtonWhite {
  border-radius: 100px;
  padding: 0.5rem 1rem;
}

.ButtonGreen {
  border-radius: 100px;
  padding: 0.5rem 1rem;
}

.CarousalButtonPosition {
  position: relative;
  bottom: 2.5rem;
  left: 50%;
}

.Title {
  font-size: 2rem;
}

.Discription {
  font-size: 1rem;
}

.card {
  border: 1px solid rgb(96, 138, 36) !important;
}

.OppertunityImage0 {
  height: 3rem;
  width: 3rem;
}
.OppertunityImage1 {
  padding: 0.5rem 0rem;
  height: 3rem;
  width: 5rem;
}
.OppertunityImage2 {
  height: 3rem;
  width: 4rem;
}

.CourseImage {
  padding: 0px !important;
  height: 25rem;
  width: auto;
}

.CourseImageOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2rem 10rem 3rem 3rem !important;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
}

.HowItWorks {
  background-image: url("../../assets/images/4\ How\ it\ works.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 600px) {
  .CarousalButtonPosition {
    position: relative;
    bottom: -10%;
    left: 25%;
  }
  .Input {
    margin-top: 10%;
    width: 90%;
    margin-left: 2%;
  }

  .Title {
    font-size: 2rem;
    align-self: center;
    text-align: center;
  }
  .CaptionView {
    margin-top: -10%;
    width: 100vw;
    margin-left: -2%;
    justify-content: center !important;
    padding: 0rem 0rem !important;
  }
  .CaptionImage {
    display: none;
  }
}
